---
import { languages } from '../../i18n/ui';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="card lg:card-side bg-base-100 shadow-xl">
  <div class="card-body grid grid-rows-1">
    <h1 class="card-title text-3xl">{t('wel.welcome')}</h1>
    <span>{t('wel.p1')}</span>
    <span>
      {t('wel.p2.1')}
      <a class="link link-primary" href="https://dtek.se/wiki/Main/Masterprogram"> {t('wel.p2.2')}</a>.
      {t('wel.p2.3')}
      <a class="link link-primary mr-0" href="https://dtek.se/wiki/Main/Mottagning"> {t('wel.p2.4')}</a>
      {t('wel.p2.and')}
      <a class="link link-primary" href="https://dtek.se/wiki/Main/DMNollK"> {t('wel.p2.5')}</a>
      {t('wel.p2.6')}
      <a class="link link-primary" href="https://dtek.se/wiki/Kategorier/Fester"> {t('wel.p2.7')}</a>,
      <a class="link link-primary" href="https://dns.dtek.se/"> {t('wel.p2.8')}</a>
      {t('wel.p2.and')}
      <a class="link link-primary" href="https://dtek.se/wiki/Main/Index"> {t('wel.p2.9')}</a>.
    </span>

    <span>
      {t('wel.p3.1')}
      <a class="link link-primary" href="https://chalmersstudentkar.se/"> {t('wel.p3.2')}</a>.
    </span>
  </div>
</div>
