---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<footer class="footer bg-base-200 p-10 mt-6 grid grid-flow-row-dense grid-cols-1 lg:grid-cols-3 gap-0 md:gap-3">
  <table class="table table-fixed">
    <tr>
      <th class="font-bold text-right">{t('fot.contact')}</th>
      <th class="link link-hover" href="mailto:styret@dtek.se">styret@dtek.se</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.email')}</th>
      <th>
        Datateknologsektionen Chalmers Studentkår
        <br>
        Rännvägen 8
        <br>
        412 58 Göteborg
      </th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.orgn')}</th>
      <th>857209-7080</th>
    </tr>
  </table>
  <table class="table table-fixed">
    <tr>
      <th class="font-bold text-right">{t('fot.board')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/Styret">D-Styret</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dns')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/DNS">DNS</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.d6')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/D6">D6</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.delta')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/Delta">Delta</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.drust')}</th>
      <th class="link link-hover" href="//drust.se">DRUST</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dnollk')}</th>
      <th class="link link-hover" href="//dnollk.se">DNollK</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dag')}</th>
      <th class="link link-hover" href="//datateknologer.se">DAG</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dhack')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/DHack">dHack</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.flag')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/ståthållarämbetet">Ståthållarämbetet</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.idrott')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/IDrott">iDrott</th>
    </tr>
  </table>
  <table class="table table-fixed">
    <tr>
      <th class="font-bold text-right">{t('fot.dlude')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/DLude">DLude</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dfoto')}</th>
      <th class="link link-hover" href="//dfoto.se">D-Foto</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dbus')}</th>
      <th class="link link-hover" href="https://dbus.dtek.se">DBus</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dlirium')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/DLirium">D-lirium</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dbrus')}</th>
      <th class="link link-hover" href="https://dbrus.dtek.se">DBrus</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dmnollk')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/DMNollK">DMNollK</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dkock')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/DKock">DKock</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.equality')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/J%C3%A4mst%C3%A4llD">JämställD</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dateit')}</th>
      <th class="link link-hover" href="https://date-it.se">DatE-IT</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.bakad')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/BakaD">BakaD</th>
    </tr>
    <tr>
      <th class="font-bold text-right">{t('fot.dsl')}</th>
      <th class="link link-hover" href="https://wiki.dtek.se/wiki/DSL">DSL</th>
    </tr>
  </table>
</footer>
<footer class="footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4">
  <aside class="size-full flex flex-1 flex-row grow justify-center">
    <p>
      {t('fot.createdby')}
      <a class="link link-hover" href="https://github.com/The1Penguin/">
        pingu
      </a>
    </p>
    <span>|</span>
    <a class="link link-hover" href="/license"> {t('fot.license')} </a>
    <span>|</span>
    <p>
      {t('fot.photo')}
      <a class="link link-hover" href="https://dfoto.se/">
        DFoto
      </a>
    </p>
  </aside>
</footer>
