---
import "../global.css"
interface Props {
  title: string;
  pageFrom: string;
}

const { title, pageFrom } = Astro.props;

import { getLangFromUrl } from '../i18n/utils';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
    </head>
    <body>
    <Header page={pageFrom}>
            <slot />
    </Header>
    <Footer/>
    </body>
</html>
